.header{
    &-container{
        width: 1360px;
        position: relative;
        display: flex;
        align-items: center;
    }
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 36px;
        position: relative;
        left: 20px;
    }

    .search{
        position: absolute;
        overflow: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        z-index: 101;
        height: 36px;
        &_opened{
            height: 565px;
            top: 290px;
            @media (max-width: 860px) {
                top: 343px;
            }
        }
        &__popup{
            background-color: white;
            box-shadow: 0 0 10px 1px;
            position: absolute;
            margin-top: 20px;
            padding: 10px 0px;
            border-radius: 10px;
            width: 350px;
            &__item{
                display: flex;
                padding: 8px 15px;
                align-items: flex-start;
                color: black;
                text-decoration: none;
                position: relative;
                &__info{
                    max-width: 230px;
                    margin-left: 10px;
                    &__title{
                        font-size: 16px;
                    }
                    &__rating{
                        font-size: 14px;
                        font-weight: 700;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
                }
                img{
                    height: 60px;
                }
                &:hover{
                    background-color: #e3e3e3;
                }
            }
        }
        .input-wrapper{
            overflow: hidden;
            padding: 0;
            transition: .1s linear;
            position: relative;
            img{
                height: 17px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }
            @media (max-width: 860px) {
                position: relative;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                transform: translateY(-50px);
                height: 36px;
            }
            &_opened{
                transform: translateY(0px);
                padding: 10px;
                box-shadow: 0 0 10px 1px;
                height: 50px;
            }
        }
        input{
            padding: 5px 10px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid black;
            font-size: 18px;
        }
        @media (max-width: 860px) {
        }
    }

    .menu-button{
        height: 100%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        right: 20px;
        top: 0;
        background-color: transparent;
        border: none;
        display: none;
        @media (max-width: 860px) {
            display: flex;
        }
        &__line{
            height: 5px;
            width: 40px;
            background-color: white;
            margin: 3px 0px;
            border-radius: 10px;
            
        }
    }
    .authorization{
        position: relative;
        height: 45px;
        fill: rgb(62, 62, 62);
        margin-left: auto;
        margin-right: 15px;
        cursor: pointer;
        top: 3px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(32deg) brightness(106%) contrast(104%);
        .cls-1{
            fill:#b8b8b8;
        }
        @media (max-width: 860px) {
            display: none;
        }
    }
}

.navigation-menu{
    position: absolute;
    height: 100vh;
    width: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 1000;
    top: 70px;
    box-shadow: 0 0 10px 1px;
    right: 0;
    font-size: 24px;
    transition: .1s linear;
    &__element{
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img{
            height: 25px;
            margin-left: 5px;
        }
    }
    .categories{
        margin-top: 30px;
        position: relative;
        &::before{
            content: "";
            width: 85%;
            height: 1px;
            background-color: #000000;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: -15px;


        }

    }
    &_opened{
        width: 300px;
    }

}

.visible{
    li{
        visibility: visible;
    }
    
}


.popup-wrapper {
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.2);
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	&_opened{
		display: flex;
	}
}

.popup{
	background-color: #131313;
	padding: 30px;
	border-radius: 20px;
	max-width: 500px;
	width: 100%;
	position: relative;
    color: #ffffff;
	&__title{
		margin-bottom: 20px;
	}
	&__form{
		display: flex;
		flex-direction: column;
		gap: 20px;
        margin-bottom: 10px;
	}
	&__input{
		width: 100%;
		height: 40px;
		background: none;
		border: 1px solid #ffffff;
		padding: 10px 30px;
		border-radius: 10px;
		color: #ffffff;
		&::placeholder{
			color: #ffffff;
			font-weight: 500;
		}
	}
	&__button{
		height: 40px;
		border-radius: 10px;
		color: #ffffff;
		background-color: #e13abd;
		border: none;
		cursor: pointer;
	}
	&__close{
		position: absolute;
		right: 30px;
		top: 30px;
		cursor: pointer;
		width: 25px;
		height: 25px;
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7460%) hue-rotate(74deg) brightness(99%) contrast(100%);
	}
    span{
        color: #e13abd;
        cursor: pointer;
    }
}

.authorized-user{
    margin-left: auto;
    position: relative;
    margin-right: 20px;
    z-index: 200;
    &__button{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 7px;
        transition: .1s linear;
        border-radius: 50%;
        .point{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #ffffff;
        }
        &:hover{
            background-color: #131313;
            cursor: pointer;
        }
    }
    &__popup{
        position: absolute;
        display: flex;
        z-index: 200;
        flex-direction: column;
        background-color: #292929;
        width: 220px;
        border-radius: 20px;
        padding: 15px;
        bottom: -115px;
        right: 0;
        gap: 15px;
        a{
            text-decoration: none;
            color: #ffffff;
        }

    }

}